/* *{
  margin: 0;
} */


:root{
  --escala: 1.7
  }
  


body {
  font-family: 'Raleway';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #6490a0, #095aab);
  text-align: center;
  color: white;
}


.info{
  display: flex;
  justify-content: center;
  align-items: center;
  

}


.info .button {
  margin: 10px;
}


.info h3 {
  margin: 15px;
}


.info .arrayOfCards{
  width: max-content;
  margin: 10px;


}

button{
  width: 180px;
  height: 50px;
  font-size: 1.6em;
  border-radius: 10px;
  /* background-color: #9fc7f0; */
  color: rgb(227, 227, 227);
  border: none;
  background-image: linear-gradient(to right, #5ba5c0, #0a75e0);  
  transition: background-image 1s linear;
}


button:hover{
  background-image: linear-gradient(to left, #146adb, #7bd9ef);  
  
  }



.cardGrid{
  display: grid;  
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 4px;
  margin-top: 30px;
}




.card img {
  width: calc(43px * var(--escala));
  width: calc(60px * var(--escala));
  cursor: pointer;
  margin: 0;
  /* width: 100px; */
  /* position: absolute; */
  /* display: block; */
}


.card{
  position: relative;
}



/* Front of card */


.card .front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}


.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}




/* Back of card */

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;

}

.flipped .back {

  transform: rotateY(90deg);
  transition-delay: 0s;

}







